KAFRAINBOX_DANGEROUSLY_NO_AUTH=

KAFRAINBOX_DEFAULT_INBOX_PASSWORD=
KAFRAINBOX_DEFAULT_INBOX_USERNAME=

KAFRAINBOX_HTTP_SERVER_PORT=

KAFRAINBOX_SMTP_SERVER_AUTH_OPTIONAL=
KAFRAINBOX_SMTP_SERVER_AUTH_SECURE=
KAFRAINBOX_SMTP_SERVER_LOGGER=
KAFRAINBOX_SMTP_SERVER_PORT=
